

body{
    background-color: #FAF8F1;
}

h1{
    color: #C58940;
}

h3{
    color: #C58940;
}

hr{
    border-color: #C58940;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 4%;
}